@model your_Blog.Models.ArticleModel

@{
    ViewBag.Title = "Delete";
}


    <h3>Вы действительно хотите удалить статью "@Html.DisplayFor(model => model.Name)"?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
   

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
