@using your_Blog.Models
@using your_Blog.Helpers
@model your_Blog.Models.IndexViewModel<ArticleModel>

@{
    ViewBag.Title = "Articles";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="post">
        <ul class="post-margin">
            <li>
                @Html.ActionLink("Добавить статью", "Create", null, new { @class = "readmore" })
            </li>
        </ul>
    </div>
}

@foreach (var article in Model.Articles)
{
    <div class="post">
        <div class="post-margin">
            <div class="post-avatar">
                <img alt='' src='http://1.gravatar.com/avatar/16afd22c8bf5c2398b206a76c9316a3c?s=70&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D70&amp;r=G' class='avatar avatar-70 photo' height='70' width='70' />
            </div>

            <h4 class="post-title">@article.Name</h4>
            <ul class="post-status">
                <li><i class="fa fa-clock-o"></i> @article.Date</li>
                <li><i class="fa fa-folder-open-o"></i>@article.Category.Name</li>
            </ul>
            <div class="clear"></div>
        </div>

        <div class="featured-image">
            @if (article.HeroImage != null)
            {
                @Html.Raw("<img class=\"img-responsive\" src=\"data:image/jpeg;base64," + Convert.ToBase64String(article.HeroImage) + "\" />")
            }
            <div class="post-icon">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <a href="@Url.Action("Edit", new { article.Id }) ">
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </a>
                </span>
            </div>
        </div>

        <div class="post-margin">
            <p>
                @article.ShortDescription
            </p>
        </div>

        <ul class="post-social">

            <li>
                @Html.ActionLink("Просмотреть", "Details", new { article.Id, @class = "readmore" })
            </li>
        </ul>
    </div>
}
<div class="btn-group">
    @Html.PageLinks(Model.pageInfo, x => Url.Action("Index", new { page = x }))
</div>
