<h6 class="widget-title">Теги</h6>
<ul>

    @if (ViewBag.Tag != null)
    {

        using (Html.BeginForm("Tag", "Article", FormMethod.Post))
        {
            <li>
                @Html.AntiForgeryToken()
                <input type="submit" value="Применить фильтр" class="btn btn-default" />
                @Html.ActionLink("Сбросить", "Index", "Article", new { area = "" }, new { @class = "btn btn-default" })
            </li>


            foreach (var c in (ViewBag.tagList == null ? ViewBag.Tag : ViewBag.tagList))
            {
                <li>

                    @if (ViewBag.tagList == null)
                    {
                        <input type="checkbox" name="selectedTags" value="@c.Id"
                               @(ViewBag.Tag.Contains(c) ? "" : "checked=\" checked\"") />

                    }

                    @c.Name
                </li>
            }
        }
    }


</ul>
