<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel='stylesheet' id='reset-css' href='~/Content/css/reset.css' type='text/css' media='all' />
    <link rel='stylesheet' id='superfish-css' href='~/Content/css/superfish.css' type='text/css' media='all' />
    <link rel='stylesheet' id='fontawsome-css' href='~/Content/css/font-awsome/css/font-awesome.css' type='text/css' media='all' />
    <link rel='stylesheet' id='orbit-css-css' href='~/Content/css/orbit.css' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css' href='~/Content/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='color-scheme-css' href='~/Content/css/color/green.css' type='text/css' media='all' />
    <link rel="stylesheet" href="~/Content/css/zerogrid.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/css/responsive.css" type="text/css" media="screen">
    <script type='text/javascript' src='~/Scripts/js/jquery.js'></script>
    <script type='text/javascript' src='~/Scripts/js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='~/Scripts/js/jquery-1.10.2.min.js'></script>
    <script type='text/javascript' src='~/Scripts/js/jquery.carouFredSel-6.2.1-packed.js'></script>
    <script type='text/javascript' src='~/Scripts/js/hoverIntent.js'></script>
    <script type='text/javascript' src='~/Scripts/js/superfish.js'></script>
    <script type='text/javascript' src='~/Scripts/js/orbit.min.js'></script>
    <script src="~/Scripts/js/css3-mediaqueries.js"></script>
</head>
<body class="home blog">
    <!-- Start Header -->
    <div class="container zerogrid">
        <div class="col-full">
            <div class="wrap-col">
                <div id="header-nav-container">


                    <!-- Navigation Menu -->

                    <ul class="sf-menu headerMenuItemWrp">
                        <div class="headerMenuItemLeft">
                            <li>
                                @Html.ActionLink("Статьи", "Index", "Article", new { area = "" }, new { @class = "menu-item current-menu-item" })
                            </li>
                            <li class="menu-item">
                                <a href="#">
                                    Админ. панель
                                </a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        @Html.ActionLink("Теги", "Index", "Tag")
                                    </li>
                                    <li class="menu-item">
                                        @Html.ActionLink("Категории", "Index", "Category")
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <div class="headerMenuItemRight">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </ul>
                    <!-- End Navigation Menu -->
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>




    <!-- End Main Container -->
    <!-- End Header -->
    @*<div class="container zerogrid">
            <div id="footer-container" class="col-full">
                <div class="wrap-col">
                     Footer Copyright
                    <p>Your blog &copy; 2019 </p>
                     End Footer Copyright
                </div>
            </div>
        </div>*@
    <!-- End Footer -->
    <!-- Start Main Container -->
    <div class="container zerogrid">

        <!-- Start Posts Container -->
        <div class="col-2-3" id="post-container">
            <div class="wrap-col">

                <!-- Start Post Item -->
                @RenderBody()
                <!-- End Post Item -->


                <div class="clear"></div>
            </div>
        </div>
        <!-- End Posts Container -->
        <!-- Start Sidebar -->
        <div class="col-1-3">
            <div class="wrap-col">
                <div class="widget-container">
                    @Html.Partial("CategoryPartial")


                </div>
                <div class="widget-container">
                    @Html.Partial("TagsPartial")
                    <!-- End Widget -->
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>        <!-- End Sidebar -->

        <div class="clear"></div>
    </div>
    <!-- End Main Container -->
    <!-- Start Footer -->
    <div class="spacing-30"></div>
    <div class="container zerogrid">
        <div id="footer-container" class="col-full">
            <div class="wrap-col">
                <!-- Footer Copyright -->
                <p>Your-Blog &copy; 2019 </p>
                <!-- End Footer Copyright -->

                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- End Footer -->


</body>

</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
